#wrap {
  position: relative;
}
#wrap::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../assets/img/logo.png");
  background-size: clamp(150px, 60%, 400px);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.4;
  z-index: -1;
}
